<div class=" col-sm-6 ">
    <div class="card ">
        <div class="card-header"><strong>Formulaire</strong> <small class="ml-3 ">Point</small></div>
        <form (ngSubmit)="putSegment()">
            <div class="card-body ">

                <!-- <div class="form-group col-md-6">
                    <label for="point1">Premier point</label>
                    <input name="point1" list="point" [(ngModel)]=segment.point1.id type="text" id="choix_point1">
                    <datalist id="point1">
                        <option *ngFor="let point of points" value={{point.id}} id="{{point.id}}">{{point.nom}}</option>
                    </datalist>
                    <span class="input-group-btn">
                        <button [routerLink]="['/points/add']" class="btn btn-default" type="button">
                        </button>
                    </span>
                </div> -->

                <div class="form-group col-md-6">
                    <label for="point1">Premier point</label>
                    <input class="form-control" name="point1" list="point1" [(ngModel)]=num1 type="text" id="choix_point1">
                    <datalist id="point1">
                        <option *ngFor="let point of points" value={{point.id}} id="{{point.id}}">abs : {{point.abs}}, ord: {{point.ord}}</option>
                    </datalist>
                </div>
            
              <!--   <div class="form-group col-md-6">
                    <label for="point2">Deuxième point</label>
                    <input class="form-control" name="point2" list="point2" [(ngModel)]=segment.point2.id type="text" id="choix_point2">
                    <datalist id="point2">
                        <option *ngFor="let point of points" value={{point.id}} id="{{point.id}}">{{point.nom}}</option>
                    </datalist>
                </div> -->

                <div class="form-group col-md-6">
                    <label for="point2">Deuxième point</label>
                    <input class="form-control" name="point2" list="point2" [(ngModel)]=num2 type="text" id="choix_point2">
                    <datalist id="point2">
                        <option *ngFor="let point of points" value={{point.id}} id="{{point.id}}">abs : {{point.abs}}, ord: {{point.ord}}</option>
                    </datalist>
                </div>

            </div>

            <div class="card-footer ">
                <button class="btn btn-sm btn-primary" type="submit">Modifier</button>
            </div>
        </form>
    </div>
</div>
