<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nom</th>
        <th scope="col">Abcisse</th>
        <th scope="col">Ordonnée</th>
        <th>info</th>
        <th>Editer</th>
        <th>Supprimer</th>
      </tr>
    </thead>
    <tbody  *ngFor="let point of points">
      <tr>
        <th scope="row">{{ point.id }}</th>
        <td>{{ point.nom }}</td>
        <td>{{ point.abs }}</td>
        <td>{{ point.ord }}</td>
        <td (click)="affiche(point.id)">DETAIL</td>
        <td [routerLink]="['/points/put/', point.id]">MODIFIER</td>
        <td (click)="suppr(point.id)">SUPPRIMER</td>
      </tr>
    </tbody>
  </table>
