<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<nav class="navbar navbar-expand-sm bg-text-secondary navbar-dark bg-dark justify-content-center">
<!-- Brand -->
<a class="navbar-brand">Logo</a>

<!-- Links -->
<ul class="navbar-nav">

  <li class="nav-item dropdown">
    <a class="" [routerLink]="['points']" id="navbardrop">Point</a>
    <a class="dropdown-toggle" id="navbardrop" data-toggle="dropdown"></a>
    <div class="dropdown-menu">
      <a class="dropdown-item" [routerLink]="['points/list']">Liste des points</a>
      <a class="dropdown-item"  [routerLink]="['points/add']">Ajouter un point</a>
    </div>
  </li>

  <li class="nav-item dropdown">
    <a class="" [routerLink]="['segments']" id="navbardrop">Segment</a>
    <a class="dropdown-toggle" id="navbardrop" data-toggle="dropdown"></a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Liste des segments</a>
      <a class="dropdown-item" href="#">Ajouter un segment</a>
    </div>
  </li>
</ul>
</nav>

<img src="../assets/img/fond.jpg" />
<router-outlet></router-outlet>


