<form (ngSubmit)="addPoint()">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="abs">Abcisse</label>
        <input class="form-control" required name="abs" [(ngModel)]=point.abs id="abs"  type="text" placeholder="abcisse">
    </div>
      <div class="form-group col-md-6">
        <label for="ord">Ordonnée</label>
        <input [(ngModel)]=point.ord type="text" class="form-control" name="ord" id="ord" placeholder="orddonnée" required />
      </div>
    </div>
    <div class="form-group">
      <label for="nom">Nom</label>
      <input [(ngModel)]=point.nom type="text" class="form-control" name="nom" id="nom" placeholder="nom" required />
    </div>
    <button type="submit" class="btn btn-primary">Ajouter</button>
    <button class="btn btn-sm btn-danger ml-3" (click)="clear()" type="reset"> Reinitialiser</button>
  </form>
