<div class=" col-sm-6 ">
    <div class="card ">
        <div class="card-header"><strong>Formulaire</strong> <small class="ml-3 ">Point</small></div>
        <form (ngSubmit)="putPoint()">
            <div class="card-body ">
                <div class=" form-group ">
                    <label for="nom ">Nom</label>
                    <input class="form-control " required name="nom" [(ngModel)]=point.nom id="nom" type="text" placeholder="nom">
                </div>
                <div class="form-group ">
                    <label for="prenom ">Abcisse</label>
                    <input class="form-control " required name="abs" [(ngModel)]=point.abs id="abs" type="text" placeholder="abcisse">
                </div>
                <div class="form-group ">
                    <label for="prenom ">Ordonnée</label>
                    <input class="form-control " required name="ord" [(ngModel)]=point.ord id="ord" type="text" placeholder="ordonnée">
                </div>
            </div>

            <div class="card-footer ">
                <button class="btn btn-sm btn-primary" type="submit">Modifier</button>
            </div>
        </form>
    </div>
</div>
