<nav class="navbar navbar-expand-sm bg-text-secondary navbar-dark bg-dark justify-content-center">
  
  <a class="navbar-brand" [routerLink]="['']">Accueil</a>
  
    <!-- Links -->
    <ul class="navbar-nav">
    
      <li class="nav-item dropdown">
        <a class="" [routerLink]="['/points']" id="navbardrop">Point</a>
        <a class="dropdown-toggle" id="navbardrop" data-toggle="dropdown"></a>
        <div class="dropdown-menu">
          <a class="dropdown-item" [routerLink]="['../points/list']">Liste des points</a>
          <a class="dropdown-item"  [routerLink]="['../points/add']">Ajouter un point</a>
        </div>
      </li>
    
      <li class="nav-item dropdown">
        <a class="" [routerLink]="['../segments']" id="navbardrop">Segment</a>
        <a class="dropdown-toggle" id="navbardrop" data-toggle="dropdown"></a>
        <div class="dropdown-menu">
          <a class="dropdown-item" [routerLink]="['../segments/list']">Liste des segments</a>
          <a class="dropdown-item" [routerLink]="['../segments/add']">Ajouter un segment</a>
        </div>
      </li>
    </ul>
    </nav>

    <br />
    <h4>Un segment possède deux points limites</h4>
    <br />

<router-outlet></router-outlet>
