<div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
            <div class="well profile">
                <div class="col-sm-12">
                    <div class="col-xs-12 col-sm-8">
                        <h2>Segment : {{ segment.nom }}</h2>
                        <p><strong>ID : </strong>{{ segment.id }}</p>
                        <p><strong>Premier point : </strong>{{ segment.listPoints[0].nom }}</p>
                        <p><strong>Deuxième point: </strong>{{ segment.listPoints[1].nom }}</p>
                    </div>

                </div>
                <div class="col-xs-12 divider text-center">
                    <div class="col-xs-12 col-sm-4 emphasis">
                        <button [routerLink]="['/segments/put/', segment.id]" class="btn btn-info btn-block"><span class="fa fa-user"></span> Modifier </button>
                        <button (click)="suppr(segment.id)" class="btn btn-info btn-block"><span class="fa fa-user"></span> Supprimer </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
