<form (ngSubmit)="addSegment()">

    <div class="form-group col-md-6">
        <label for="point1">Premier point</label>
        <input class="form-control" name="point1" list="point1" [(ngModel)]=num1 type="text" id="choix_point1">
        <datalist id="point1">
            <option *ngFor="let point of points" value={{point.id}} id="{{point.id}}">abs : {{point.abs}}, ord: {{point.ord}}</option>
        </datalist>
        <span class="input-group-btn">
            <button [routerLink]="['/points/add']" class="btn btn-default" type="button">
            </button>
        </span>
    </div>

    <div class="form-group col-md-6">
        <label for="point2">Deuxième point</label>
        <input class="form-control" name="point2" list="point2" [(ngModel)]=num2 type="text" id="choix_point2">
        <datalist id="point2">
            <option *ngFor="let point of points" value={{point.id}} id="{{point.id}}">abs : {{point.abs}}, ord: {{point.ord}}</option>
        </datalist>
    </div>

   
        <div class="form-group col-md-6">
          <label for="nom">Nom</label>
          <input class="form-control" required name="nom" [(ngModel)]=segment.nom id="nom"  type="text" placeholder="nom">
   

    </div>
    <button type="submit" class="btn btn-primary">Ajouter</button>
    <button class="btn btn-sm btn-danger ml-3" (click)="clear()" type="reset"> Reinitialiser</button>
  </form>
