<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Longueur</th>
        <th scope="col">P1 : ABS / ORD</th>
        <th scope="col">P2 : ABS / ORD</th>
        <th>info</th>
        <th>Editer</th>
        <th>Supprimer</th>
      </tr>
    </thead>
    <tbody  *ngFor="let segment of segments">
      <tr>
        <th scope="row">{{ segment.id }}</th>
        <td>{{ segment.longueur }}</td>
        <th scope="col">{{ segment.listPoints[0].nom }} : {{ segment.listPoints[0].abs }} / {{ segment.listPoints[0].ord }}</th>
        <th scope="col">{{ segment.listPoints[1].nom }} : {{ segment.listPoints[1].abs }} / {{ segment.listPoints[1].ord }}</th>
        <td (click)="affiche(segment.id)">DETAIL</td>
        <td [routerLink]="['/segments/put/', segment.id]">MODIFIER</td>
        <td (click)="suppr(segment.id)">SUPPRIMER</td>
      </tr>
    </tbody>
  </table>
