<div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
            <div class="well profile">
                <div class="col-sm-12">
                    <div class="col-xs-12 col-sm-8">
                        <h2>{{point.nom}}</h2>
                        <p><strong>Abcisse : </strong>{{point.abs}}</p>
                        <p><strong>Ordonnée: </strong>{{point.ord}}</p>
                    </div>

                </div>
                <div class="col-xs-12 divider text-center">
                    <div class="col-xs-12 col-sm-4 emphasis">
                        <button [routerLink]="['/points/put/', point.id]" class="btn btn-info btn-block"><span class="fa fa-user"></span> Modifier </button>
                        <button (click)="suppr(point.id)" class="btn btn-info btn-block"><span class="fa fa-user"></span> Supprimer </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
